{{/*Avatar*/}}
<div class="ui small circular image">
	{{ with $.Site.Params.author.avatar }}
		<img src="{{ $.Site.Params.author.avatar }}">
	{{ else }}
		{{ $avatar := index (seq 1 4 | shuffle ) 0 }}
		<img src="https://1.bp.blogspot.com/-UJbghHbd5GA/X9t79vX-lzI/AAAAAAAAAWQ/KFifms6izsAEDcPFlCnv6cTnMVZuX_aLgCLcBGAsYHQ/s16000/Nyoman%2BAdi%2BYudana.jpg">
	{{ end }}
</div>

{{/*Motto*/}}
<h3 class="ui header">
	{{ $.Site.Params.author.name }}
	<div class="sub header">{{ $.Site.Params.author.motto }}</div>
</h3>
